.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background: #595959;
    border-radius: 50px;
    z-index: 1000;
    transition: 0.2s background ease-in-out;

    &:hover {
        background: $secondary;
    }

    button {
        background-color: transparent;
        appearance: none;
        border: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 13px;
    }

    i {
        color: $white;
        height: 22px;
        display: flex;
        align-items: center;
    }
}