.ntg-banner {
    $this: &;

    .container {
        height: 100%;
    }

    &__overlay {
        &::after {
            content: '';
            background: $black-gradient; 
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__image,
    &__video {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__content,
    &__wrapper {
        height: 100%;
    }

    &__wrapper {    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__text {
        color: $white;
        text-shadow: 1px 1px 0.5px $black;
        
        h1 {
            @include font-size(68px);
            padding: 50px 0;
        }
        
        > * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &--solid {
        .ratio {
            &:before {
                padding-top: clamp(300px, var(--bs-aspect-ratio), 600px); // min and max banner size
            }
        }

        #{$this}__wrapper {
            padding-bottom: 2rem;
        }

        .breadcrumb {
            justify-content: center;
            padding-top: 2rem;
        }
    }
    
    &--fade {
        .ratio {
            &:before {
                padding-top: clamp(440px, var(--bs-aspect-ratio), 740px); // min and max banner size
            }
        }

        #{$this}__overlay {
            &::after {
                background: $black-white-gradient; // temporary
            }
        }

        #{$this}__wrapper {
            padding-bottom: calc(140px);
        }

        .breadcrumb {
            text-shadow: 1px 1px 0.5px $black;

            .breadcrumb-item {
                a, &.active {
                    color: $white;
                }
        
                + .breadcrumb-item {
                    &::before {
                        filter: brightness(0) invert(100%);
                    }
                }
            }
        }

        + main {
            margin-top: -140px;
        }
    }
}