.ntg-cards-and-sticky-text {
    &__text {
        @include media-breakpoint-up(md) {
            position: sticky;
            top: 100px; // replace with header height
        }
    }

    &__subtitle {
        font-family: $font-ubuntu-condensed;
        @include font-size(16px);
        font-weight: 700;
        text-transform: uppercase;
        @extend .ls-2;
    }
}