@use 'sass:math';

.ntg-cards-carousel {
    $this: &;
    overflow-x: clip;

    // TODO: fix cell spacing and alignment
    .carousel-cell {
        margin-right: 2rem;
        
        @include media-breakpoint-down(lg) {
            margin-right: 1.5rem;
        }

        @include media-breakpoint-down(md) {
            margin-right: 1rem;
        }
    }

    .flickity-button {
        background: transparent;
        border: 2px solid $primary; // temporary
        width: 50px;
        height: 50px;
        transition: 0.2s background ease-in-out;

        @include media-breakpoint-down(md) {
            width: 40px;
            height: 40px;
        }

        &:hover,
        &:focus {
            background: $primary; // temporary

            .flickity-button-icon {
                fill: $white;
            }
        }

        &:focus {
            @include focus();
        }

        .flickity-button-icon {
            fill: $primary; // temporary
            width: 35%;
            height: 35%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s fill ease-in-out;
        }
    }

    &--flow-right {
        #{$this}__content {
            @include media-breakpoint-up(md) {
                width: 50%;
            }
        }

        .flickity-viewport {
            overflow: visible;
        }

        .flickity-carousel {
            margin-top: 2rem;
            
            @include media-breakpoint-down(md) {
                margin-top: calc(3rem + 40px);
            }
        }

        .carousel-cell {
            width: 25%;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .flickity-prev-next-button {
            top: calc(-2rem - 25px);

            @include media-breakpoint-down(md) {
                top: calc(-2rem - 20px);
            }

            &.previous {
                left: calc(100% - 110px);

                @include media-breakpoint-down(md) {
                    left: calc(100% - 90px);
                }
            }

            &.next {
                right: 0;
            }
        }
    }

    &--centred {
        #{$this}__content {
            text-align: center;
        }

        .flickity-carousel {
            @media (max-width: 1500px) {
                padding-bottom: 66px;
            }
        }

        .carousel-cell {
            width: calc(100% / 3);

            @include media-breakpoint-down(lg) {
                width: 50%;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .flickity-button {
            border-width: 3px;
        }

        .flickity-prev-next-button {
            @include media-breakpoint-down(md) {
                top: calc(100% - 20px);
            }

            @media (max-width: 1500px) {
                top: calc(100% - 25px);
            }

            &.previous {
                left: calc(50% - 55px);

                @include media-breakpoint-down(md) {
                    left: calc(50% - 45px);
                }

                @media (min-width: 1500px) {
                    left: -66px;
                }
            }

            &.next {
                right: calc(50% - 55px);

                @include media-breakpoint-down(md) {
                    right: calc(50% - 45px);
                }

                @media (min-width: 1500px) {
                    right: -66px;
                }
            }
        }
    }

    &--tall {
        >.container > .row > div:first-child{
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                background-color: var(--current-theme-color, #{$white});
                position: absolute;
                top: 0;
                left: -9999px;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        #{$this}__content {
            @include media-breakpoint-up(md) {
                position: sticky;
                top: 100px; // replace with header height
            }
        }

        .flickity-viewport {
            overflow: visible;
        }

        .carousel-cell {
            width: 50%;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

        .flickity-button {
            background: $light; // temporary
            border-width: 0;
            box-shadow: 0 0 10px rgba(99, 101, 107, 0.5);

            .flickity-button-icon {
                fill: $black; // temporary
                width: 35%;
                height: 35%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.2s fill ease-in-out;
            }
        }
    }

    &--testimonial {
        .flickity-carousel {
            padding-bottom: 6rem;
            padding-top: 3rem;
        }

        .flickity-viewport {
            overflow: visible;
        }

        .flickity-slider {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 0 0.5em 0.5em 0.5em 0.5em 1fr auto;
            grid-row-gap: 0.5em!important;
        }

        .carousel-cell {
            width: 350px;
            height: 350px;
            // width: calc(100% / 4);

            // @include media-breakpoint-down(lg) {
            //     width: 50%;
            // }

            // @include media-breakpoint-down(md) {
            //     width: 100%;
            // }

            &:nth-child(n+1) {
                grid-row: 4/-1;
                
                .card {
                    transform: rotate(-4deg);
                }
            }

            &:nth-child(n+2) {
                grid-row: 3/-1;
                
                .card {
                    transform: rotate(2deg);
                }
            }

            &:nth-child(n+3) {
                grid-row: 3/-12;
                
                .card {
                    // transform: rotate(-1deg);
                }
            }

            &:nth-child(n+4) {
                grid-row: 2/-2;
                
                .card {
                    transform: rotate(5deg);
                }
            }

            &:nth-child(n+5) {
                grid-row: 1/-1;
                
                .card {
                    transform: rotate(-4deg);
                }
            }

            &:nth-child(n+6) {
                grid-row: 2/-1;
                
                .card {
                    transform: rotate(2deg);
                }
            }

            &:nth-child(n+7) {
                grid-row: 3/-2;
                
                .card {
                    transform: rotate(-1deg);
                }
            }

            &:nth-child(n+8) {
                grid-row: 4/-2;
                
                .card {
                    transform: rotate(5deg);
                }
            }

            &:nth-child(n+9) {
                grid-row: 3/-1;
                
                .card {
                    transform: rotate(-1deg);
                }
            }

            &:nth-child(n+10) {
                grid-row: 4/-2;
                
                .card {
                    transform: rotate(5deg);
                }
            }

            .card {
                height: 100%;
                // transform: rotate(3.325deg);

                .card-inner {
                    flex-grow: 1;
                }

                .card-back {
                    height: 100%;
                }
            }
        }


        
        .flickity-prev-next-button {
            top: calc(100%);
            
            @include media-breakpoint-down(md) {
                top: calc(100% - 20px);
            }

            &.previous {
                left: calc(50% - 55px);

                @include media-breakpoint-down(md) {
                    left: calc(50% - 45px);
                }
            }

            &.next {
                right: calc(50% - 55px);

                @include media-breakpoint-down(md) {
                    right: calc(50% - 45px);
                }
            }
        }
    }
}