.ntg-cards-and-sticky-text {
    &__content {
        @include media-breakpoint-up(md) {
            position: sticky;
            top: 100px; // replace with header height
        }
    }

    &__subtitle {
        font-family: $font-ubuntu-condensed;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.16px;
    }
}