.ntg-cards {
    $this: &;

    &--sticky-text {
        &__content {
            @include media-breakpoint-up(md) {
                position: sticky;
                top: 100px; // replace with header height
            }
        }
    }
}