.ntg-cards {
    $this: &;
    color: var(--current-theme-text-color, $body-color);
    background: var(--current-theme-color, transparent);

    &__content {
        .tag {
            color: var(--current-theme-text-color, $ntg-dark-green);
        }

        h2 {
            color: var(--current-theme-text-color, $ntg-olive-green);
        }
    }

    &--sticky-content {
        #{$this}__content {
            @include media-breakpoint-up(md) {
                position: sticky;
                transition: 0.25s top ease-in-out;
            }
        }
    }
}