.ntg-content-slider {
    padding: 0 3rem;

    .flickity-button {
        background-color: transparent;
        border: 3px solid $body-color;
        transition: 0.2s background-color ease-in-out;

        &.previous {
            left: -54px;
        }
        &.next {
            right: -54px;
        }

        &-icon {
            width: 40%;
            height: 40%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.2s fill ease-in-out;
        }

        &:hover,
        &:focus {
            background-color: $body-color;

            .flickity-button-icon {
                fill: $white;
            }
        }

        &:focus {
            @include focus();
        }
    }

    .flickity-page-dots {
        width: auto;
        bottom: 20px;
        right: 20px;

        .dot {
            width: 13px;
            height: 13px;
            margin: 0 4px;

            &:not(.is-selected) {
                background-color: $white;
                opacity: 1;
            }
        }
    }

    &__block {
        background-color: $ntg-sky-blue;
        padding: 2rem;
    }
}
