.ntg-content-tabs {
    .nav-tabs {
        border-bottom: 2px solid $ntg-charcoal-grey-20;
        margin-bottom: 2rem;
    }

    .nav-item {
        margin-bottom: 0 !important;
    }

    .nav-link {
        border: none;
        padding: 0.75rem 0.5rem;
        color: #2e3849;
        font-size: $font-size-sm;
        font-weight: 500;
        margin-bottom: -2px;

        &.active {
            color: $ntg-top-end;
            border-bottom: 2px solid $ntg-top-end;
        }
    }

    &--vertical {
        .nav-tabs {
            @include media-breakpoint-up(md) {
                border-bottom: none;
                border-right: 3px solid $ntg-top-end;
                padding-right: 2rem;
            }

            @include media-breakpoint-down(md) {
                flex-direction: row !important;
            }
        }

        .nav-link {
            @include media-breakpoint-up(md) {
                padding: 0.75rem 0;
            }

            &.active {
                @include media-breakpoint-up(md) {
                    border-bottom: none;
                }
            }
        }
    }
}
