.ntg-footer {
    background-color: var(--current-theme-color, #{$ntg-dark-gray});
    color: var(--current-theme-text-color, #{$white});

    &__top {
        padding-top: 1.5rem;

        @include media-breakpoint-up(lg) {
            padding-top: 3rem;
        }
    }

    &__mid {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            padding-bottom: 3rem;
        }

    }

    &__bottom {
        background-color: var(--current-theme-color-lighter, #{lighten($ntg-dark-gray, 4)});
        font-weight: bold;

        ul {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin-bottom: 0 !important;

                a {
                    display: inline-block;

                    &:hover {
                        transform: translateY(-2px);
                    }
                }
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    &__social-section {
        display: flex;
        gap: 0.5rem;
        
        a {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 2px solid var(--current-theme-text-color, #{$white});
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s background-color ease-in-out, 0.2s transform ease-in-out;
            color: var(--current-theme-text-color, #{$white});

            &:hover {
                background-color: var(--current-theme-text-color, #{$white});
                color: var(--current-theme-color, #{$ntg-dark-gray}) !important;
            }

            i {
                font-size: 1.15rem;
                line-height: 1;
            }
        }
    }

    a {
        text-decoration: none;
        color: var(--current-theme-text-color, #{$white});

        &:hover {
            color: var(--current-theme-text-color, #{$white});

            span {
                text-decoration: underline;
            }
        }
    }

    img {
        max-width: 200px;
        width: 100%;
    }

    .panel-title {
        cursor:pointer;
    }

    .vertab {
        &-container {
            display: flex;
            align-items: flex-start;
            z-index: 10;    
            
            .panel-body ul {
                margin-bottom: 0;
                
                @include media-breakpoint-up(lg) {
                    columns: 2;
                    column-width: auto;
                    column-gap: 1rem;
                }

                @include media-breakpoint-up(xl) {
                    columns: 3;
                }

                li {
                    break-inside: avoid-column;
                }

                a {
                    font-weight: normal;
                }

                a:hover,
                a:active {
                    text-decoration: underline !important;
                }
            }

            .panel-heading.active .panel-title,
            .panel-title:hover,
            .panel-title:focus {
                position: relative;
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-thickness: 2px;
                opacity: 1;
            }

            .panel-title {
                font-size: var(--h5-size);
                opacity: 0.6;
                margin-bottom: 1rem;
            }
        }

        &-menu {
            border-right: 2px solid var(--current-theme-text-color, #{$white});
            padding-right: 5rem;
            margin-right: 5rem;
            flex-shrink: 0;
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }

            .list-group > a {
                display: block;
                padding-top: 0;
                padding-bottom: 1rem;
                opacity: 0.6;
                letter-spacing: 1.6px;
                transition: .2s opacity ease-in-out;
                font-size: var(--h5-size);
                color: var(--current-theme-text-color, #{$white});

                &.active, &:hover, &:focus {
                    position: relative;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px;
                    opacity: 1;
                }
            }
        }

        &-content {
            margin-bottom: 1.5rem;
            color: var(--current-theme-text-color, #{$white});

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }
    }
    
    @media (min-width: 992px) {
        .vertab-accordion {
            flex-grow: 1;
        }

        .vertab-accordion .vertab-content:not(.active) {
            display: none;
        }

        .vertab-accordion .vertab-content.active .collapse {
            display: block;
        }

        .vertab-container .panel-heading {
            display: none;
        }
    }
    
}
