@use "sass:map";

.mm-menu {
    --header-text-color: #{$ntg-dark-gray};
}

// Default color definitions
.page-header-container,
.mm-menu {
    --header-special-color: #{$white};
    --header-background-color: #{$ntg-territory-stone};

    &.header-scroll {
        --header-text-color: #{$ntg-dark-gray};
    }

    // Default button on the header. If no theme, olive green color is used else tertiary color is used
    .btn-default {
        --bs-btn-color: var(--current-theme-tertiary-text, #fff);
        --bs-btn-bg: var(--current-theme-tertiary, #104735);
        --bs-btn-border-color: var(--current-theme-tertiary, #104735);
        --bs-btn-hover-color: var(--current-theme-tertiary-text, #fff);
        --bs-btn-hover-bg: var(--current-theme-tertiary-bg-subtle, #0e3c2d);
        --bs-btn-hover-border-color: var(--current-theme-tertiary-bg-subtle, #0d392a);
        --bs-btn-active-color: var(--current-theme-tertiary-text, #fff);
        --bs-btn-active-bg: var(--current-theme-tertiary-bg-subtle, #0e3c2d);
        --bs-btn-active-border-color: var(--current-theme-tertiary-border-subtle, #0d392a);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: var(--current-theme-tertiary-text, #fff);
        --bs-btn-disabled-bg: var(--current-theme-tertiary, #104735);
        --bs-btn-disabled-border-color: var(--current-theme-tertiary, #104735);
    }
}

.page-header-container {
    --header-text-color: #{$white};
}

[data-bs-theme]:not([data-bs-theme="default"]) {
    .page-header-container.header-scroll,
    .mm-menu,
    .mm-wrapper--opened .page-header-container {
        --header-special-color: var(--current-theme-text-color);
        --header-background-color: var(--current-theme-secondary);
        --header-text-color: var(--current-theme-secondary-text);
    }
}

.page-header-container[data-bs-theme]:not([data-bs-theme="default"]).header-scroll,
.mm-wrapper--opened .page-header-container[data-bs-theme]:not([data-bs-theme="default"]),
.mm-menu[data-bs-theme]:not([data-bs-theme="default"]) {
    --header-special-color: var(--current-theme-text-color);
    --header-background-color: var(--current-theme-color);
    --header-text-color: var(--current-theme-text-color);
}


.mm-wrapper--opened .page-header-container {
    --header-text-color: #{$ntg-dark-gray};
    background-color: var(--header-background-color);
}

.page-header-container {
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: 0.25s transform ease-in-out, 0.2s background-color ease-in-out, 0.2s box-shadow ease-in-out;
}

body:not(.mm-wrapper--opened) {
    .page-header-container {
        &.header-hide {
            transform: translateY(-100%);
        }

        &.header-scroll {
            background-color: var(--header-background-color);
            box-shadow: 0 2px 8px rgba($black, 0.2);

            .ntg-header {
                padding: 0.5rem 0;

                &__logo {
                    max-width: 140px;

                    @include media-breakpoint-up(sm) {
                        max-width: 170px;
                    }
                }
            }
        }
    }
}

.mm-wrapper--opened {
    .page-header-container {
        box-shadow: 0 2px 8px rgba($black, 0.2);
        position: sticky;
        top: 0;

        .ntg-header {
            padding: 0.5rem 0;

            &__logo {
                max-width: 140px;

                @include media-breakpoint-up(sm) {
                    max-width: 170px;
                }
            }
        }
    }
}

// offset sticky side content if header is visible on screen
.page-header-container {
    &:not(.header-hide) {
        ~ main {
            .ntg-cards--sticky-content .ntg-cards__content,
            .ntg-cards-carousel--tall .ntg-cards-carousel__content {
                @include media-breakpoint-up(lg) {
                    top: calc(map.get($header-heights, desktop) + 3rem);
                }
            }
        }
    }

    &.header-hide {
        ~ main {
            .ntg-cards--sticky-content .ntg-cards__content,
            .ntg-cards-carousel--tall .ntg-cards-carousel__content {
                @include media-breakpoint-up(lg) {
                    top: 3rem;
                }
            }
        }
    }
}

.ntg-header {
    transition: 0.2s padding ease-in-out;
    
    @include media-breakpoint-up(sm) {
        padding: 1.5rem 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 140px;
        width: 100%;
        transition: 0.2s filter ease-in-out, 0.2s max-width ease-in-out;

        @include media-breakpoint-up(sm) {
            padding-right: 1rem;
            margin-right: 1rem;
            max-width: 215px;
        }

        img, svg {
            max-width: 100%;
        }
    }

    &__search {
        position: relative;

        button[type="submit"] {
            --bs-btn-active-border-color: transparent;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0;
            padding: 1rem;

            &:active {
                border-width: 0;
            }

            &::after {
                @extend .fa;
                content: "\f002";
                color: var(--header-text-color);
                cursor: pointer;
                font-size: 1rem;
                transition: 0.2s transform ease-in-out;
                font-weight: bold;
            }

            &:hover {
                &::after {
                    transform: translateX(2px);
                }
            }
        }


        input {
            padding-right: 2rem;
            border-color: var(--header-special-color, --header-text-color);
            color: var(--header-text-color);

            &:focus {
                border-color: var(--header-special-color, --header-text-color);
            }
        }

        ::placeholder {
            color: var(--header-text-color);
            opacity: 1;
        }
    }
}
