.ntg-highlights {
    h2 {
        color: var(--current-theme-secondary, $body-color);
    }

    &__highlight {
        position: relative;
        padding-left: 1rem;
        border-left: 4px solid var(--current-theme-secondary, $secondary);

        &:focus-within {
            @include focus();
        }

        > * {
            font-size: $font-size-sm;
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        h3 {
            font-size: $font-size-base;
        }

        a {
            text-transform: uppercase;
            letter-spacing: 10%;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
