.ntg-icon-and-description {
    background-color: var(--current-theme-color, transparent);
    color: var(--current-theme-text-color, $body-color);

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
}