.ntg-image-layout {
    $this: &;

    h2 {
        @include font-size($h3-font-size);
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item {
        position: relative;

        &:has(a) {
            &::after {
                content: '';
                background: linear-gradient(to top, rgba($black, .52) 0%, transparent 100%);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                transition: 0.2s opacity ease-in-out;

                @include media-breakpoint-down(lg) {
                    opacity: 1;
                }
            }
        }
    
        &:has(a:hover),
        &:has(a:focus) {
            &::after {
                opacity: 1;
            }
        }

        img,
        video {
            width: 100%;
            object-fit: cover;
        }

        img {
            height: auto;
        }

        video {
            height: 100%;
            display: flex;
        }

        a {
            color: $white;
            text-decoration: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            padding: 1rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            opacity: 0;
            transition: 0.2s opacity ease-in-out;

            @include media-breakpoint-down(lg) {
                opacity: 1;
            }

            &:hover,
            &:focus {
                opacity: 1;
            }

            i {
                font-size: $font-size-sm;
                margin-left: 0.5rem;
                line-height: 1.5;
            }
        }
    }

    &--2x2,
    &--2x3 {
        #{$this}__item {
            img,
            video {
                aspect-ratio: 4 / 3;
        
            }
        }
    }

    &--2x4 {
        #{$this}__item {
            img,
            video {
                aspect-ratio: 1 / 1;
        
                @include media-breakpoint-down(lg) {
                    aspect-ratio: 4 / 3;
                }
            }
        } 
    }
}