.interactive-map {
    width: 1092px;
    height: 585px;
    margin-left: -150px;

    @include media-breakpoint-up(sm) {
        margin-left: -125px;
    }

    @include media-breakpoint-up(lg) {
        display: block;
        position: absolute;
        bottom: 0;
        right: -100px;
        margin-left: 0;
    }

    @include media-breakpoint-up(xl) {
        right: 0
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    #NT g:not(.exclude){
        cursor: pointer;

        &:hover {
            stroke: white;
            stroke-width: 2;
        }
    }

    path {
        transition: 0.2s fill ease-in-out;
    }


    svg {
        @include media-breakpoint-down(lg) {
            width: 1092px;
            height: 585px;
        }
    }
}