.ntg-main-nav {
    transition: 0.2s padding ease-in-out;

    @include media-breakpoint-down(xl) {
        margin-left: 0.5rem;
        order: 2;
    }
    
    &__search {
        appearance: none;
        background: none;
        padding: 0.5rem;
        width: 46px;
        height: 46px;
        border: none;

        @include media-breakpoint-down(xl) {
            order: 1;
        }

        &:hover {
            cursor: pointer;

            i {
                color: var(--bs-secondary-text, #{$ntg-dark-gray});
            }
        }

        &:focus {
            @include focus();
        }

        i {
            color: var(--bs-secondary-text, #{$ntg-dark-gray});
            font-size: 1.5rem;
            transition: 0.2s color ease-in-out;
        }
    }

    &__mobile {
        display: block;
        order: 2;
        margin-left: 0.125rem;

        @include media-breakpoint-up(xl) {
            display: none;
        }

        > a {
            width: 46px;
            height: 46px;
            position: relative;
            display: block;

            &:hover {
                span,
                &:before,
                &:after {
                    background: $secondary;
                }
            }

            .mm-wrapper_opening & {
                span {
                    opacity: 0;
                }

                &:before,
                &:after {
                    transform: rotate(45deg);
                    top: 50%;
                    left: 15%;
                    right: 15%;
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }

            span,
            &:before,
            &:after {
                background: $white;
                position: absolute;
                top: 50%;
                left: 15%;
                right: 15%;
                height: 3px;
                margin-top: -1.5px;
                transition: 0.3s all linear, 0.2s background ease-in-out;
            }

            &:before,
            &:after {
                content: '';
                top: 30%;
            }

            &:after {
                top: 70%;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 0 !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    &__link {
        padding-bottom: 0;

        > a {
            color: var(--header-text-color);
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            padding: 0.5rem 1rem;
            height: 106px;
            position: relative;
            display: flex;
            align-items: center;
            transition: 0.2s color ease-in-out;

            @include media-breakpoint-down(xxl) {
                padding: 1.5rem 0.8rem;
            }

            &:before {
                content: '';
                background-color: var(--header-text-color);
                height: 5px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scaleX(0);
                transition: 0.25s transform ease-in-out;
                z-index: -1;
            }
            
            &.focus {
                &:before {
                    transform: scaleX(1);
                }
            }
        }

        &:hover {
            > a {
                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }

    &__panel {
        position: absolute;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 1;
        background-color: var(--bs-secondary, #{$ntg-territory-stone});
        border-top: 1px solid var(--bs-secondary-text, #{$ntg-dark-gray});
        color: var(--bs-secondary-text, $ntg-dark-gray);
        padding-top: 3rem;

        &:not(.open) {
            top: -9999px;
        }

        &.open {
            bottom: 0;
            transform: translateY(100%);
            visibility: visible;
        }

        &-wrapper {
            display: flex;

            > * {
                &:first-child {
                    padding: 0 4rem 0 0;
                    margin-bottom: 3rem;
                    flex: 0 0 400px;
                }

                &:last-child {
                    max-width: min-content;
                    padding: 0 0 0 3rem;
                }
            }
        }

        &-columns {
            column-count: 2;
            column-gap: 1rem;

            @include media-breakpoint-down(xxl) {
                column-count: 2;
            }

            > * {
                &:last-child {
                    padding-right: 0;
                }
            }
        }

        &.one-group {
            .ntg-main-nav__panel-columns {
                // column-count: 1;

                > .ntg-main-nav__panel-group {
                    ul {
                        // column-count: 2;
                    }
                }
            }
        }

        &-group {
            break-inside: avoid-column;
            padding: 0 3rem 3rem 3rem;
        }

        h2, h3 {
            margin-bottom: 1rem;
            color: var(--bs-secondary-text, #{$ntg-dark-gray});

            > a {
                color: var(--bs-secondary-text, #{$ntg-dark-gray});
                text-decoration: underline;
                text-decoration-color: rgba($primary, 0);
                text-decoration-thickness: 3px;
                text-underline-offset: 2px;
                transition: 0.2s text-decoration-color;

                &:hover {
                    text-decoration-color: rgba($primary, 1);
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 0.5rem;
            break-inside: avoid-column;
            
            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}