.ntg-map-tabs {    
    position: relative;
    overflow: hidden;
    
    .nav-tabs.flickity-enabled {
        display: block;
    }

    .tab-content {
        @include media-breakpoint-up(lg) {
            min-height: 650px;
        }
    }

    .tab-pane__bottom {
        position: relative;
        z-index: 1;
    }
}