// fix content flash
#mmenu-wrapper:not(.mm-menu) {
    display: none;
}

.mm-panels {
    > .mm-panel {
        background: var(--current-theme-secondary, #{$ntg-territory-stone});
        color: var(--current-theme-secondary-text, #{$ntg-dark-gray});

        .mm-navbar {
            background: var(--current-theme-secondary, #{$ntg-territory-stone});
            border-color: var(--current-theme-secondary-text, #{$ntg-dark-gray});

            > a {
                transition: 0.2s background-color ease-in-out;
            }

            .mm-btn--prev {
                width: 50px;

                &:before {
                    border-color: var(--current-theme-secondary-text, #{$ntg-dark-gray});
                }
            }

            .mm-navbar__title {
                padding: 30px 20px;
                justify-content: start;

                > span {
                    text-align: left;
                    color: var(--current-theme-secondary-text, #{$ntg-dark-gray});
                }
            }

            &:hover,
            &:focus {
                .mm-btn--prev,
                .mm-btn--prev + .mm-navbar__title {
                    // background-color: darken($primary, 10%);
                }
            }
        }

        .mm-listview {
            margin: 20px -20px;

            &:first-of-type {
                margin-top: 0;
            }

            a:not(.mm-btn--next) {
                border-left: 0px solid var(--current-theme-secondary-text, #{$ntg-dark-gray});
                transition: 0.1s border-left-width ease-in-out, 0.2s background-color ease-in-out;

                &:hover,
                &:focus {
                    // background-color: darken($primary, 10%);
                    border-left-width: 5px;
                }
            }

            a.mm-btn--next {
                transition: 0.2s background-color ease-in-out;

                &:hover,
                &:focus {
                    filter: brightness(120%);
                    // background-color: darken($primary, 10%);
                }
            }
        }

        .mm-listitem {
            padding: 0 20px 1px 20px;
            border-color: var(--current-theme-secondary-text, #{$ntg-dark-gray});
            margin-bottom: 0 !important;
        }

        .mm-listitem__btn {
            border-color: var(--current-theme-secondary-text, #{$ntg-dark-gray});
        }

        .mm-listitem__text {
            white-space: normal;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .mm-btn {
            &:after {
                border-color: var(--current-theme-secondary-text, #{$ntg-dark-gray});
                border-width: 3px;
                height: 12px;
                width: 12px;
            }
        }

        a {
            &:focus {
                outline: none;
            }
        }
    }
}
