.ntg-step-progress {
    $this: &;

    .nav {
        justify-content: space-between;
        margin-bottom: 2rem;
        border-bottom: none;
        position: relative;

        &::before {
            content: '';
            background-color: var(--current-theme-tertiary, $tertiary);
            height: 5px;
            position: absolute;
            top: 50%;
            width: 99%;
            transform: translateY(-50%);
            z-index: 0;
        }

        &::after {
            content: '';
            background-color: var(--current-theme-secondary, $secondary);
            height: 5px;
            position: absolute;
            top: 50%;
            width: var(--progress-fill, 0%);
            transform: translateY(-50%);
            z-index: 0;
            transition: width 0.15s linear;
        }

        &-item {
            margin-bottom: 0 !important;
            position: relative;
            z-index: 1;
        }

        &-link {
            background-color: var(--current-theme-tertiary, $tertiary);
            color: var(--current-theme-tertiary-text, $tertiary-text);
            font-weight: 700;
            border: none;
            border-radius: 50%;
            transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;

            &:hover {
                background-color: var(--current-theme-secondary, $secondary);
                color: var(--current-theme-secondary-text, $secondary-text);
            }

            &:focus {
                @include focus();
            }

            &.active,
            &.completed {
                background-color: var(--current-theme-secondary, $secondary);
                color: var(--current-theme-secondary-text, $secondary-text);
            }
        }
    }

    &--vertical {
        #{$this}__wrapper {
            display: flex;
        }

        .nav {
            flex-direction: column;
            margin-bottom: 0;
            margin-right: 2rem;

            &::before {
                width: 5px;
                height: 99%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                width: 5px;
                height: var(--progress-fill, 0%);
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.15s height linear;
            }

            &-item {
                &:not(:last-child) {
                    margin-bottom: 2rem !important;
                }
            }
        }
    }
}
