.ntg-testimonial {
    img {
        object-fit: cover;
        min-height: 200px;
        max-height: 332px;
    }

    &__details {
        margin: 1rem 0;
        border-bottom: 5px solid var(--current-theme-secondary, $ntg-barkly);
        
        h1 {
            color: var(--current-theme-text-color, $body-color);
            @include font-size($h3-font-size);
        }

        p {
            font-weight: 700;
        }
    }   
}