.ntg-wysiwyg {
    background-color: var(--currrent-theme-primary, transparent);
    color: var(--current-theme-primary-text, $body-color);

    img {
        width: 100%;
        height: auto;
    }
}
