@use "sass:map";

//Check custom-map-overrides for overriding theme colors

//Adding text color for light and dark mode as an example
// Light mode
//Use the main color for each theme-colors
@each $color-name, $color-values in $base-colors {
    $theme-colors-text: map-merge($theme-colors-text, (
        #{$color-name}: map.get($color-values, "text-color")
    ));
}

@each $color-name, $color-values in $base-colors {
    $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, (
        #{$color-name}: map.get($color-values, "bg-subtle-color")
    ));
}

@each $color-name, $color-values in $base-colors {
    $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, (
        #{$color-name}: map.get($color-values, "border-subtle-color")
    ));
}

// Dark mode
$custom-colors-text-dark: ("custom-color": #e1d2f2);
$custom-colors-bg-subtle-dark: ("custom-color": #8951fa);
$custom-colors-border-subtle-dark: ("custom-color": #e1d2f2);

$theme-colors-text-dark: map-merge($theme-colors-text-dark, $custom-colors-text-dark);
$theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, $custom-colors-bg-subtle-dark);
$theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, $custom-colors-border-subtle-dark);