
$prefix: bs-;

// Key Global bootstrap options
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer * 1,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
);


$enable-dark-mode: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-caret: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-smooth-scroll: true;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "32x9": calc(9 / 32 * 100%)
);


// Typography
$font-family-base: 'Lato', var(--bs-font-sans-serif);

// Cards
$card-height: 100%;

// Accordions
$accordion-button-active-bg: none;
$accordion-button-active-color: $primary;
$accordion-button-focus-border-color: transparent;
$accordion-button-focus-box-shadow: none;

// Alerts
$alert-border-width: 3px;

// Buttons
$btn-secondary-colour: #fff;

// Breadcrumbs
$breadcrumb-divider: quote('>');
$breadcrumb-active-color: $body-color;

// Table
$table-border-color: $body-color;


/* -------- Custom -------- */
  
// These variables are required
$focus-ring-width:      .25rem;
$focus-ring-opacity:    .25;
$focus-ring-color:      rgba($ntg-heliconia-orange, $focus-ring-opacity);
$focus-ring-blur:       0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

//TODO: Check and remove if ok
$focus-color: $ntg-heliconia-orange;
$focus-width: 3px;
$outline-offset-width: 2px;