@use "sass:map";

@each $color, $value in $theme-colors-text {
    [data-bs-theme="#{$color}"] {
        --bs-body-color: #{$value};
        --bs-body-color-rgb: #{to-rgb($value)};  
    }
}

@each $color, $value in $theme-colors {
    @if $color == "primary" {
        [data-bs-theme="#{$color}"] {
            --current-theme-color: #{$primary};
            --current-theme-text-color: #{$primary-text};
            --current-theme-color-darker: #{darken($primary, 6)};
            --current-theme-color-lighter: #{lighten($primary, 4)};

            --bs-link-color: #{$primary-text};
            --bs-link-color-rgb: #{to-rgb($primary-text)};
            --bs-link-hover-color: #{$primary-text};
            --bs-link-hover-color-rgb: #{to-rgb($primary-text)};

            // Override for text-colored button for primary theme
            // This is to ensure the button gets primary color even when there is no theme selected on root
            .btn-outline-default {
                @include button-outline-variant($primary-text)
            }
        }
    } @else if $color == "secondary" {
        [data-bs-theme="#{$color}"] {
            --current-theme-color: #{$secondary};
            --current-theme-text-color: #{$secondary-text};
            --current-theme-color-darker: #{darken($secondary, 6)};
            --current-theme-color-lighter: #{lighten($secondary, 4)};

            --bs-link-color: #{$secondary-text};
            --bs-link-color-rgb: #{to-rgb($secondary-text)};
            --bs-link-hover-color: #{$secondary-text};
            --bs-link-hover-color-rgb: #{to-rgb($secondary-text)};


            // Override for text-colored button for secondary theme
            // This is to ensure the button gets secondary color even when there is no theme selected on root
            .btn-outline-default {
                @include button-outline-variant($secondary-text)
            }
        }
    } @else if $color == "tertiary" {
        [data-bs-theme="#{$color}"] {
            --current-theme-color: #{$tertiary};
            --current-theme-text-color: #{$tertiary-text};
            --current-theme-color-darker: #{darken($tertiary, 6)};
            --current-theme-color-lighter: #{lighten($tertiary, 4)};

            --bs-link-color: #{$tertiary-text};
            --bs-link-color-rgb: #{to-rgb($tertiary-text)};
            --bs-link-hover-color: #{$tertiary-text};
            --bs-link-hover-color-rgb: #{to-rgb($tertiary-text)};

            // Override for text-colored button for tertiary theme
            // This is to ensure the button gets tertiary color even when there is no theme selected on root
            .btn-outline-default {
                @include button-outline-variant($tertiary-text)
            }
        }
    }
}

@each $color, $value in $base-colors {
    [data-bs-theme="#{$color}"] {
        --current-theme-color: #{map.get($value, "main")};
        --current-theme-text-color: #{map.get($value, "text-color")};
        --current-theme-color-darker: #{darken(map.get($value, "main"), 6)};
        --current-theme-color-lighter: #{lighten(map.get($value, "main"), 4)};
        --current-theme-primary: #{map.get($value, "primary")};
        --current-theme-primary-darker: #{darken(map.get($value, "primary"), 6)};
        --current-theme-primary-lighter: #{lighten(map.get($value, "primary"), 4)};
        --current-theme-primary-rgb: to-rgb(map.get($value, "primary"));
        --current-theme-primary-text: #{map.get($value, "primary-text")};
        --current-theme-secondary: #{map.get($value, "secondary")};
        --current-theme-secondary-darker: #{darken(map.get($value, "secondary"), 6)};
        --current-theme-secondary-lighter: #{lighten(map.get($value, "secondary"), 4)};
        --current-theme-secondary-rgb: to-rgb(map.get($value, "secondary"));
        --current-theme-secondary-text: #{map.get($value, "secondary-text")};
        --current-theme-tertiary: #{map.get($value, "tertiary")};
        --current-theme-tertiary-darker: #{darken(map.get($value, "tertiary"), 6)};
        --current-theme-tertiary-lighter: #{lighten(map.get($value, "tertiary"), 4)};
        --current-theme-tertiary-rgb: to-rgb(map.get($value, "tertiary"));
        --current-theme-tertiary-text: #{map.get($value, "tertiary-text")};
        --current-theme-body-bg: #{map.get($value, "main")};
        --current-theme-body-bg-rgb: #{to-rgb(map.get($value, "main"))};
        --current-theme-primary-text-emphasis: #{shade-color(map.get($value, "primary"), 60%)};
        --current-theme-secondary-text-emphasis: #{shade-color(map.get($value, "secondary"), 60%)};
        --current-theme-tertiary-text-emphasis: #{shade-color(map.get($value, "tertiary"), 60%)};
        --current-theme-primary-bg-subtle: #{tint-color(map.get($value, "primary"), 60%)};
        --current-theme-secondary-bg-subtle: #{tint-color(map.get($value, "secondary"), 60%)};
        --current-theme-tertiary-bg-subtle: #{tint-color(map.get($value, "tertiary"), 60%)};
        --current-theme-primary-border-subtle: #{tint-color(map.get($value, "primary"), 30%)};
        --current-theme-secondary-border-subtle: #{tint-color(map.get($value, "secondary"), 30%)};
        --current-theme-tertiary-border-subtle: #{tint-color(map.get($value, "tertiary"), 30%)};
        
        --bs-primary: #{map.get($value, "primary")};
        --bs-primary-rgb: to-rgb(map.get($value, "primary"));
        --bs-primary-text: #{map.get($value, "primary-text")};
        --bs-secondary: #{map.get($value, "secondary")};
        --bs-secondary-rgb: to-rgb(map.get($value, "secondary"));
        --bs-secondary-text: #{map.get($value, "secondary-text")};
        --bs-tertiary: #{map.get($value, "tertiary")};
        --bs-tertiary-rgb: to-rgb(map.get($value, "tertiary"));
        --bs-tertiary-text: #{map.get($value, "tertiary-text")};
        --bs-body-bg: #{map.get($value, "main")};
        --bs-body-bg-rgb: #{to-rgb(map.get($value, "main"))};
        --bs-primary-text-emphasis: #{shade-color(map.get($value, "primary"), 60%)};
        --bs-secondary-text-emphasis: #{shade-color(map.get($value, "secondary"), 60%)};
        --bs-tertiary-text-emphasis: #{shade-color(map.get($value, "tertiary"), 60%)};
        --bs-primary-bg-subtle: #{tint-color(map.get($value, "primary"), 60%)};
        --bs-secondary-bg-subtle: #{tint-color(map.get($value, "secondary"), 60%)};
        --bs-tertiary-bg-subtle: #{tint-color(map.get($value, "tertiary"), 60%)};
        --bs-primary-border-subtle: #{tint-color(map.get($value, "primary"), 30%)};
        --bs-secondary-border-subtle: #{tint-color(map.get($value, "secondary"), 30%)};
        --bs-tertiary-border-subtle: #{tint-color(map.get($value, "tertiary"), 30%)};

        --bs-link-color: #{map.get($value, "link-color")};
        --bs-link-color-rgb: #{to-rgb(map.get($value, "link-color"))};
        --bs-link-hover-color: #{map.get($value, "link-hover-color")};
        --bs-link-hover-color-rgb: #{to-rgb(map.get($value, "link-hover-color"))};

        [data-bs-theme="primary"] {
            --current-theme-color: var(--bs-primary);
            --current-theme-text-color: var(--bs-primary-text);
            --current-theme-color-darker: #{darken(map.get($value, "primary"), 6)};
            --current-theme-color-lighter: #{lighten(map.get($value, "primary"), 4)};

            --bs-link-color: #{map.get($value, "primary-link-color")};
            --bs-link-color-rgb: #{to-rgb(map.get($value, "primary-link-color"))};
            --bs-link-hover-color: #{map.get($value, "primary-link-hover-color")};
            --bs-link-hover-color-rgb: #{to-rgb(map.get($value, "primary-link-hover-color"))};

            // Override for text-colored button for primary theme
            // This is to ensure the button gets primary color when primary theme is selected
            .btn-outline-default {
                @include button-outline-variant(map.get($value, "primary-text"))
            }
        }

        [data-bs-theme="secondary"] {
            --current-theme-color: var(--bs-secondary);
            --current-theme-text-color: var(--bs-secondary-text);
            --current-theme-color-darker: #{darken(map.get($value, "secondary"), 6)};
            --current-theme-color-lighter: #{lighten(map.get($value, "secondary"), 4)};

            --bs-link-color: #{map.get($value, "secondary-link-color")};
            --bs-link-color-rgb: #{to-rgb(map.get($value, "secondary-link-color"))};
            --bs-link-hover-color: #{map.get($value, "secondary-link-hover-color")};
            --bs-link-hover-color-rgb: #{to-rgb(map.get($value, "secondary-link-hover-color"))};

            // Override for text-colored button for secondary theme
            // This is to ensure the button gets secondary color when secondary theme is selected
            .btn-outline-default {
                @include button-outline-variant(map.get($value, "secondary-text"))
            }
        }

        [data-bs-theme="tertiary"] {
            --current-theme-color: var(--bs-tertiary);
            --current-theme-text-color: var(--bs-tertiary-text);
            --current-theme-color-darker: #{darken(map.get($value, "tertiary"), 6)};
            --current-theme-color-lighter: #{lighten(map.get($value, "tertiary"), 4)};

            --bs-link-color: #{map.get($value, "tertiary-link-color")};
            --bs-link-color-rgb: #{to-rgb(map.get($value, "tertiary-link-color"))};
            --bs-link-hover-color: #{map.get($value, "tertiary-link-hover-color")};
            --bs-link-hover-color-rgb: #{to-rgb(map.get($value, "tertiary-link-hover-color"))};

            // Override for text-colored button for tertiary theme
            // This is to ensure the button gets tertiary color when tertiary theme is selected
            .btn-outline-default {
                @include button-outline-variant(map.get($value, "tertiary-text"))
            }
        }
        
        .btn-primary {
            @include button-variant(map.get($value, "primary"), map.get($value, "primary"), map.get($value, "primary-text"))
        }
        .btn-secondary {
            @include button-variant(map.get($value, "secondary"), map.get($value, "secondary"), map.get($value, "secondary-text"))
        }
        .btn-tertiary {
            @include button-variant(map.get($value, "tertiary"), map.get($value, "tertiary"), map.get($value, "tertiary-text"))
        }
        .btn-outline-primary {
            @include button-outline-variant(map.get($value, "primary"))
        }
        .btn-outline-secondary {
            @include button-outline-variant(map.get($value, "secondary"))
        }
        .btn-outline-tertiary {
            @include button-outline-variant(map.get($value, "tertiary"))
        }

        // Button outline that takes the default font color as the color and border for the theme
        .btn-outline-default {
            @include button-outline-variant(map.get($value, "text-color"))
        }

        .accordion {
            $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='448' height='512' viewBox='0 0 448 512'><path d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z' fill='#{map.get($value, 'text-color')}' /></svg>");
            --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
            --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
        }
    }
}